
.container{
    background-image: url('evro_cents_91_61_rio_print.png')
}
span {
    text-align: center;
}
p {
    text-decoration: underline;
    font-weight: bold;
    font-size: 15px;
}
.fontsmecher{
    text-decoration: underline !important;
    font-weight: bold;
    font-size: 15px;
}