<div class="container">
  <div class="row">
    <div class="col-sm-12">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-5">
      <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.
      </p>
      <form method="post" id="passwordForm" class="fontsmecher">
        <div class="form-group">
          <input type="password" class="form-control" id="inputPassword" name="passwordOld" [ngModel]="paswords.passwordOld"  #passwordOld="ngModel"
            required minlength="10" maxlength="30"  placeholder="New Password">
          <div *ngIf="passwordOld.errors && (passwordOld.dirty || passwordOld.touched)" class="text-danger">
            <small [hidden]="passwordOld.errors">Request password</small>
            <small [hidden]="passwordOld.minlength">The password must contain at least the 10 characters</small>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <span id="8char" class="glyphicon glyphicon-remove" style="color:rgb(0, 0, 0);"> 7 Characters Long</span>
            <br>
            <span id="ucase" class="glyphicon glyphicon-remove" style="color:rgb(0, 0, 0);">One Uppercase Letter</span>
          </div>
          <div class="col-sm-12">
            <span id="num" class="glyphicon glyphicon-remove" style="color:rgb(0, 0, 0);"></span> One Number
          </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="inputPassword2" name="passwordNew" [ngModel]="paswords.passwordNew"  #passwordNew="ngModel"
              required minlength="10" maxlength="30"  placeholder="Repeat Password">
            <div *ngIf="passwordNew.errors && (passwordNew.dirty || passwordNew.touched)" class="text-danger">
              <small [hidden]="passwordNew.errors">Request password</small>
              <small [hidden]="passwordNew.minlength">Password is incorrect</small>
            </div>
          
          <div class="col-sm-12">
            <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:rgb(0, 0, 0) ">Passwords Match</span>
          </div>
        </div>
        <input type="submit" class="col-md-12 btn btn-primary btn-load btn-lg" data-loading-text="Reseting Password..." value="Reset Password">
      </form>
    </div>
    <!--/col-sm-6-->
  </div>
  <!--/row-->
</div>