<!--<p>-->
  <!--category-item works!-->
<!--</p>-->

<!--varstae este {{person.age}}-->

<!--<button (click)="maresteVarsta()">mareste</button>-->

<!--<pre>{{category | json}} </pre>-->


<div class="category-item"
[ngClass]="custClass"
(mouseenter)="mouseEnter()"
(mouseleave)="mouseLeave()"
>
  <span (click)="startEditCategory(categ)">{{category.name}} </span>
  <button class="category-delete" (click)="delete()">delete</button>
  <button class="category-add" (click)="add()">add</button>
</div>

