<!-- <p>
  category-item works!
</p> -->
<!-- <input type="text" [(ngModel)]=person.name> -->

<!-- varsta lui {{person.name}} este {{person.age}}

<button (click)="maresteVarsta()">mareste</button>
<pre>{{ category | json }}</pre> -->
<div class="category-item"
  [ngClass]="customClass"
  (mouseenter)= "mouseEnter()"
  (mouseleave)= "mouseLeave()"> 
  <div class="row">
    <div class="col-md-10">
      <span (click)="startEditCategory(category)">
        {{category.name}}

      </span>
      {{category.aded | amTimeAgo}}
      <button class="category-delete" (click)="delete()">delete</button>
    </div>
  </div>
</div>