<form id="users-new">
	<div class="row">
		<div class="col-md-12">
			<h2>1. Personal Information</h2>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label for="firstname">Firstname *:</label>
				<input type="text" class="form-control" id="firstname" name="firstname" placeholder="John">
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label for="lastname">Lastname *:</label>
				<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Doe">
			</div>
		</div>
		<div class="col-md-12">
			<h2>2. Contact Information</h2>
			<div class="col-md-4">
			<div class="form-group">
				<label for="emailaddress">Email address *:</label>
				<input type="text" class="form-control" id="emailaddress" name="emailaddress" placeholder="john.doe@domain.com">
			</div>
		</div>
		</div>
		
		<div class="col-md-2">
			<div class="form-group">
				<label for="password1">Password *:</label>
				<input type="password" class="form-control" id="password1" name="password">
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label for="password2">Confirm password *:</label>
				<input type="password" class="form-control" id="password2" name="password2">
			</div>
		</div>
		<div class="col-md-12">
			<div class="pull-right">
				<button type="submit" class="btn btn-default">Create New User</button>
			</div>
		</div>
	</div>
</form>